* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;

	--heading-line-height: 1.2;
	--heading-line-spacing: 0.01em;
	--body-line-height: 1.4;
	--body-line-spacing: 0.1px;

	--color-black: 65, 65, 65;
	--color-white--700: 255, 255, 255;
	--color-white--300: 245, 245, 247;
	--color-gray: 111, 108, 108;
	--color-orange: 251, 142, 72;
}

body {
	font-family: var(--font-family-primary);
	color: rgba(var(--color-black), 1);
	background-color: rgba(var(--color-white--7 00), 1);
	line-height: var(--body-line-height);
	letter-spacing: var(--body-line-spacing);
	position: relative;
}

h1,
h2,
h3,
h4 {
	line-height: var(--heading-line-height);
	letter-spacing: var(--heading-line-spacing);
}

ul {
	list-style-type: none;
}

ol {
	list-style-position: inside;
}

a {
	color: inherit;
	text-decoration: none;
}

/* ================================================== */

.translate-x-0 {
	transform: translateX(0%) !important;
}

.visibility-hidden {
	visibility: hidden;
}

.display-none {
	display: none;
}

/* ================================================== */

.logo-surl {
	img {
		width: 65px;
		vertical-align: bottom;
	}
}

.btn-icon {
	border: none;
	background: transparent;
	cursor: pointer;

	&:hover {
		background-color: rgba(var(--color-white--300), 0.2);
		border-radius: 5px;
	}

	img {
		vertical-align: bottom;
	}
}

.btn-submit {
	width: 100%;
	height: 35px;
	border: none;

	background: transparent;
	background-color: rgba(var(--color-orange), 1);
	color: rgba(var(--color-white--700), 1);
	font-weight: 700;
	font-size: 0.65rem;
	cursor: pointer;
}

select.input-box {
	appearance: none;
	background-image: url('/icons/caret-up.svg');
	background-repeat: no-repeat;
	background-size: 0.75em;
	background-position: right 0.85em center;
}

.input-box {
	width: 100%;
	height: 33px;
	padding: 0 0.5em;
	border: 1px solid rgba(var(--color-gray), 0.5);
	background-color: transparent;

	font-size: 0.7rem;

	&:focus {
		outline: none;
		border-color: (var(--color-black), 1) !important;
	}
}

@mixin sold-out {
	content: 'SOLD OUT';
	width: fit-content;
	height: fit-content;

	position: absolute;
	top: -20px;
	left: 0;

	font-size: 0.65em;
	text-align: center;
	color: red;
}

.product__name--sold-out {
	position: relative;

	&::after {
		@include sold-out();
	}
}

.no-input-warning {
	position: absolute;
	bottom: 5px;
	font-size: 0.65rem;
	color: red;
}

form {
	& > .no-input-warning {
		position: absolute;
		top: -17px;
		z-index: -1;
	}
}

.accordion-header {
	cursor: pointer;

	.btn-icon {
		transition: transform 200ms linear;
	}
}

.accordion-body {
	max-height: 0;
	overflow: hidden;
	transition: max-height 200ms ease-out;
}

/* ================================================== */

.skeleton {
	animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(200, 20%, 80%);
	}
	100% {
		background-color: hsl(200, 20%, 95%);
	}
}

.skeleton--img {
	width: 100%;
	aspect-ratio: 1;
}

.skeleton--text {
	width: 100%;
	height: 10px;
	margin-bottom: 0.5em;
}

.skeleton--text--sm {
	width: 35%;
}

.skeleton--text--md {
	width: 75%;
}

/* ================================================== */

@mixin container-95-1200 {
	width: 95%;
	max-width: 1200px;
	margin: auto;
}

@mixin container-95-1400 {
	width: 95%;
	max-width: 1400px;
	margin: auto;
}

/* ================================================== */

.header {
	padding: 0.75em 0;
	background-color: rgba(var(--color-black), 1);
	color: rgba(var(--color-white--300), 1);
	font-size: 0.75em;

	position: sticky;
	top: 0;
	z-index: 999;

	.header__items {
		@include container-95-1200;

		display: flex;
		gap: 3em;
		align-items: center;
	}

	.primary-navigation-wrapper {
		flex-basis: 90%;

		.primary-navigation {
			.btn-icon--close {
				display: none;
			}

			.primary-navigation__items {
				display: flex;
				gap: 3em;
				align-items: center;

				.primary-navigation__search {
					width: 40%;
					max-width: 250px;
					margin-left: auto;
					margin-right: -1.75em;

					display: flex;
					gap: 1em;
					align-items: center;

					.search__form {
						width: 100%;
						display: flex;
						gap: 1em;
						position: relative;

						.search__text {
							width: 100%;
							padding-bottom: 0.5em;
							padding-right: 4.5em;
							color: rgba(var(--color-white--300), 1);

							background: transparent;
							border: none;
							border-bottom: 1px solid rgba(var(--color-white--300), 1);
							padding: 0.2em 0;
							outline: none;

							&:focus {
								border-color: rgba(var(--color-orange), 1);
							}
						}

						.search__submit {
							background: transparent;
							border: none;

							position: absolute;
							right: 0;
							bottom: 7px;

							// font-weight: 700;
							color: rgba(var(--color-white--300), 0.7);
							cursor: not-allowed;
						}
					}
				}
			}
		}
	}

	.bag-navigation-wrapper {
		position: relative;

		.bag-navigation-notif {
			width: 17px;
			height: 17px;
			border-radius: 10px;

			position: absolute;
			right: -5px;
			top: 12px;

			display: none;
			justify-content: center;
			align-items: center;

			font-weight: 700;
			font-size: 0.8em;
			color: rgba(var(--color-white--700), 1);
			pointer-events: none;
			background-color: rgba(var(--color-orange), 1);
		}

		.bag-navigation {
			.bag-navigation__items {
				display: flex;
				flex-direction: column;
				gap: 1em;

				width: 350px;
				padding: 1.5em;
				padding-bottom: 0.75em;
				border-radius: 5px;

				position: absolute;
				right: -5px;
				top: 145%;
				z-index: 9999;

				background-color: rgba(var(--color-gray), 1);
				// visibility: hidden;

				&::after {
					content: '';
					position: absolute;
					right: 10px;
					top: -7px;
					width: 0px;
					height: 0px;
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-bottom: 10px solid rgba(var(--color-gray), 1);
				}

				.bag-navigation__item {
					padding-bottom: 0.5em;
					border-bottom: 1px solid rgba(var(--color-white--300), 1);

					&:last-child {
						padding-bottom: none;
						border-bottom: none;
					}

					.item__link {
						display: flex;
						gap: 0.5em;
						align-items: center;

						&:hover {
							text-decoration: underline;
							text-decoration-color: rgba(var(--color-white--300), 1);
							text-decoration-thickness: 1px;
						}
					}
				}

				.bag-navigation__added-items-wrapper {
					padding-bottom: 1em;

					.bag-navigation__added-items {
						display: flex;
						flex-direction: column;
						gap: 1em;

						.bag-navigation__added-item {
							display: flex;
							align-items: center;

							padding-bottom: 0.75em;
							border-bottom: 1px solid rgba(var(--color-white--300), 0.2);

							&:last-child {
								padding-bottom: 0;
								border-bottom: none;
							}

							.added-item__link {
								text-decoration: none;
								display: flex;
								gap: 1em;
								align-items: center;

								.added-item__name {
									display: block;
									width: 240px;
									white-space: nowrap;
									text-overflow: ellipsis;
									overflow: hidden;
								}

								.added-item__img {
									width: 45px;
								}
							}

							.added-item__quantity {
								margin-left: auto;
								font-weight: 700;
							}
						}

						.more-items {
							text-align: center;
						}
					}
				}
			}
		}
	}
}

.header--product-page {
	background-color: transparent;
	color: rgba(var(--color-black--300), 1);

	.primary-navigation-wrapper {
		.primary-navigation {
			.primary-navigation__items {
				.primary-navigation__search {
					.search__form {
						.search__text {
							color: rgba(var(--color-black--300), 1);
						}
					}
				}
			}
		}
	}

	.bag-navigation-wrapper {
		.bag-navigation {
			color: rgba(var(--color-white--300), 1);
		}
	}

	.logo-surl,
	.btn-icon {
		filter: invert(20%) sepia(14%) saturate(3%) hue-rotate(314deg) brightness(30%) contrast(83%);
	}
}

.header--checkout {
	text-align: center;
}

.store {
	@include container-95-1200;

	.store__header {
		padding-top: 2.5em;
		padding-bottom: 3em;

		.store__categories {
			.store__category {
				margin-right: 2em;
				cursor: pointer;
			}

			[aria-selected='true'] {
				font-weight: 700;
			}

			[aria-selected='false'] {
				opacity: 0.5;
			}
		}

		.store__sort-items {
			text-align: right;

			label.sort-items__type {
				font-size: 0.9em;
			}

			select.sort-items__type {
				margin-right: 1em;
				border: none;
				outline: none;
				background: transparent;
				font-size: 0.95em;
				font-weight: 500;
			}

			.sort-items__order {
				cursor: pointer;

				&:first-of-type {
					margin-right: 0.5em;
				}
			}

			[aria-selected='false'].sort-items__order {
				opacity: 0.5;
			}
		}
	}

	.store__products {
		display: grid;
		column-gap: 1em;
		row-gap: 2em;
		grid-template-columns: 1fr 1fr;

		pointer-events: none;

		.store__product {
			&:hover {
				opacity: 0.7;
			}

			.product__link {
				display: flex;
				flex-direction: column;

				.product__name {
					font-size: 0.9em;
					word-wrap: break-word;
					word-break: break-all;
				}

				.product__price {
					font-size: 0.85em;
					font-weight: 300;
				}

				.product__img {
					width: 100%;
					order: -1;
					margin-bottom: 0.75em;

					img {
						width: 100%;
					}
				}
			}
		}

		.store__product--sold-out {
			.product__name {
				position: relative;
			}
			.product__name::after {
				@include sold-out();
				// position: static;
				top: -12px;
				// margin-left: 1em;
				font-weight: 700;
			}
		}
	}
}

.product-page {
	padding-top: 2em;

	.product-page__product {
		@include container-95-1400();

		display: flex;
		gap: 1em;
		flex-direction: column;
		font-size: 0.9rem;

		.product__name {
			font-size: 1.15em;
		}

		.product__price {
			font-size: 0.9em;
			margin-bottom: 1em;
		}

		.product__description {
			font-size: 0.9em;
			margin-bottom: 1em;

			.description__header {
				width: fit-content;
				border-bottom: 1px solid rgba(var(--color-black), 1);
				margin-bottom: 0.25em;
			}

			.description__body {
				.description__text {
					margin-bottom: 1em;
				}
			}
		}

		.product__description--list {
			counter-reset: num;

			li {
				display: flex;
				justify-content: space-between;

				padding-left: 1.25em;
				position: relative;

				&::before {
					counter-increment: num;
					content: counter(num) '.';
					position: absolute;
					left: 0;
				}
			}
		}

		.product__notify-option-wrapper {
			display: none;
			.product__notify-option {
				display: flex;
				flex-direction: column;
				gap: 0.5em;

				.btn-submit {
					background-color: rgba(var(--color-black), 1);
				}

				.notify-option__pretext {
					font-size: 0.9em;
					margin-bottom: 1.15em;

					a {
						color: blue;
					}
				}

				.notify-option__pretext--submitted {
					margin-bottom: 0;
					text-decoration: underline;
					color: rgba(var(--color-orange), 1);
				}

				.notify-option__form {
					display: flex;
					flex-direction: column;
					gap: 0.5em;

					position: relative;
				}
			}
		}

		.product__purchase-option-wrapper {
			.product__size-option {
				margin-bottom: 0.5em;

				select {
					width: 100%;
					height: 3em;
					padding-right: 1em;
					border: none;
					border-bottom: 0.5px solid rgba(var(--color-black), 1);

					font-size: 0.8em;
				}
			}

			.product__add-to-bag-option {
				position: relative;

				.btn-submit {
					margin-bottom: 2.25em;
				}

				.no-input-warning {
					bottom: 4px;
				}
			}
		}

		.notice {
			// margin-bottom: 1em;
			font-size: 0.79em;
			color: rgba(var(--color-gray), 1);
			margin-bottom: 1em;

			p:first-child {
				margin-bottom: 0.5em;
			}
		}

		.product__left-section-wrapper {
			display: none;
		}

		.product__images-wrapper {
			position: relative;
			overflow: hidden;

			.product__images-navigator {
				.navigator {
					position: absolute;
					top: 50%;
					z-index: 998;
					transform: translateY(-50%);

					margin: 0 0.25em;
					border-radius: 5px;
					background-color: rgba(var(--color-white--700), 0.5);
				}

				.navigator--right {
					right: 0;
				}
			}

			.product__images {
				display: flex;
				transition: transform 500ms ease;

				.loader-wrapper {
					width: 100%;
					height: 50vh;
					display: flex;
					justify-content: center;
					align-items: center;

					.loader {
						width: 30px;
						height: 30px;
						border: 3px solid rgba(var(--color-gray), 0.25);
						border-top: 3px solid rgba(var(--color-black), 1);
						border-radius: 50%;

						animation: spin 2s linear infinite;
					}

					@keyframes spin {
						0% {
							transform: rotate(0deg);
						}
						100% {
							transform: rotate(360deg);
						}
					}
				}

				.product__image-wrapper {
					flex-shrink: 0;
					flex-basis: 100%;

					display: flex;
					flex-direction: column;
					justify-content: flex-end;

					.product__image {
						width: 100%;
					}
				}
			}

			.product__images-indicator {
				margin-top: 1em;
				margin-bottom: 2.5em;
				display: flex;
				gap: 0.2em;
				justify-content: center;
				align-items: center;

				.indicator {
					display: block;
					width: 20px;
					height: 1.5px;
					background-color: rgba(var(--color-gray), 0.5);
					cursor: pointer;

					transition: width 500ms ease;
				}

				.indicator--active {
					width: 40px;
					background-color: rgba(var(--color-gray), 1);
				}
			}
		}
	}
}

.shopping-bag-page,
.checkout-page {
	--item-image-width: 90px;

	padding-top: 4em;
	font-size: 0.8rem;
	@include container-95-1200();

	display: flex;
	flex-direction: column;
	gap: 2em;

	.section,
	.subsection {
		width: 100%;
		font-size: 0.9em;

		.subsection__title,
		.section__title {
			margin-bottom: 2em;
		}
	}

	.shopping-bag {
		margin-bottom: 5em;
	}

	.shopping-bag__header {
		display: flex;
		justify-content: space-between;

		padding-left: calc(var(--item-image-width) + 1.5em);
		padding-bottom: 0.5em;
		margin-bottom: 2em;
		border-bottom: 1px solid rgba(var(--color-gray), 1);

		color: rgba(var(--color-gray), 1);
	}

	.order-summary__item,
	.shopping-bag__item {
		display: flex;
		gap: 1.5em;

		padding-bottom: 1em;
		margin-bottom: 2em;
		border-bottom: 1px solid rgba(var(--color-gray), 0.25);

		&:last-child {
			border-color: rgba(var(--color-gray), 1);
		}

		.item__image-wrapper-outer {
			flex-shrink: 0;
			width: var(--item-image-width);

			.item__image-wrapper-inner {
				width: 100%;
				aspect-ratio: 1;

				display: flex;
				flex-direction: column;
				justify-content: flex-end;

				.item__image {
					width: 100%;
				}
			}
		}

		.item__texts-price-options-wrapper {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.item__texts-price-wrapper {
				display: flex;
				justify-content: space-between;
				gap: 0.75em;

				.item__texts {
					.item__type {
						font-size: 0.8em;
					}
					.item__name {
						margin-bottom: 0.25em;
					}
				}
			}

			.item__other-options {
				display: flex;
				justify-content: space-between;

				margin-bottom: 0.25em;

				.item__do-not-include,
				.remove__pre-display,
				.remove__answer {
					text-decoration: underline;
					cursor: pointer;
				}

				.item__remove--answered {
					.remove__pre-display {
						display: none;
					}

					.remove__question,
					.remove__answer {
						display: unset;
					}
				}

				.remove__question {
					margin-right: 0.25em;
					text-decoration: none;
					display: none;
				}

				.remove__answer {
					display: none;
				}

				.remove__answer--yes {
					margin-right: 0.25em;
				}
			}
		}
	}

	.shopping-bag__item--not-inlcuded {
		& > *:not(.item__texts-price-options-wrapper) {
			opacity: 0.5;
		}

		.item__texts-price-wrapper {
			opacity: 0.5;
		}
	}

	.order-summary__footer,
	.shopping-bag__footer {
		width: 100%;
		padding-left: calc(var(--item-image-width) + 1.5em);
		font-size: 1em;

		.footer__line {
			display: flex;
			justify-content: space-between;

			&:last-of-type {
				margin-top: 0.5em;
				color: rgba(var(--color-orange), 1);
			}
		}
	}

	.to-checkout {
		width: 100%;

		.to-checkout__instruction {
			margin-bottom: 1.65em;
		}

		.to-checkout__form {
			display: flex;
			flex-direction: column;
			gap: 0.5em;

			position: relative;
		}
	}
}

.checkout-page {
	width: 85%;

	.order-summary {
		.order-summary__title {
			display: flex;
			justify-content: space-between;
			align-items: center;

			padding-bottom: 0.5em;
			border-bottom: 1px solid rgba(var(--color-gray), 1);

			.btn-icon {
				img {
					width: 22px;
				}
			}
		}

		.order-summary__body {
			.order-summary__items {
				.order-summary__item {
					margin-bottom: 1em;
					border: none;

					&:last-child {
						border-bottom: 1px solid rgba(var(--color-gray), 1);
					}

					.item__image-wrapper-outer {
						width: 70px;
					}
				}
			}
		}

		.order-summary__footer {
			padding-left: 0;

			.footer__line:nth-child(2) {
				padding-bottom: 1em;
				margin-bottom: 1em;
				border-bottom: 1px solid rgba(var(--color-gray), 1);
			}
		}
	}

	.checkout-form-wrapper {
		.checkout-form__form {
			.form__subsection {
				.subsection__title {
					padding-bottom: 0.5em;
					border-bottom: 1px solid rgba(var(--color-gray), 0.5);
				}

				.subsection__inputs {
					.label-input-wrapper {
						display: flex;
						flex-direction: column;

						position: relative;

						.input-box {
							margin-bottom: 1.85em;
							position: relative;
						}

						.logos-wrapper {
							display: flex;
							gap: 0.5em;
							position: absolute;
							right: 10px;
							bottom: 33%;

							img {
								width: 25px;
							}
						}

						label {
							margin-bottom: 0.5em;
						}

						#phone-number,
						#shipping-zip-code,
						#billing-zip-code {
							width: 50%;
						}

						#expiration-date,
						#security-code {
							width: 35%;
						}
					}

					.label-input-wrapper--checkbox {
						display: flex;
						gap: 1em;
						flex-direction: row-reverse;
						justify-content: flex-end;
						align-items: center;
						margin-bottom: 2em;

						input {
							height: 20px;
						}
					}
				}

				.billing-address-inputs-wrapper {
					max-height: 0;
					overflow: hidden;
				}
			}
		}
	}
}

@media (max-width: 655px) {
	.header {
		background-color: rgba(var(--color-white--700), 1);

		.header__items {
			justify-content: space-between;
			position: relative;

			.header__item:first-child {
				display: block;
			}

			.primary-navigation-wrapper {
				position: fixed;
				inset: 0 27% 0 0;
				z-index: 9999;
				box-shadow: 4px 0px 8px 0px rgba(16, 5, 19, 0.48);
				transform: translateX(-110%);

				.primary-navigation {
					width: 90%;
					padding-top: 0.5em;
					margin: auto;

					font-size: 1.15em;
					color: rgba(var(--color-white--300), 1);

					.logo-surl,
					.btn-icon {
						filter: none;
					}

					.btn-icon--close {
						display: block;
						margin-left: auto;
						margin-right: -10px;

						img {
							width: 27px;
						}
					}

					.primary-navigation__items {
						width: 100%;
						padding-top: 2em;

						flex-direction: column;
						gap: 2em;
						align-items: flex-start;

						.primary-navigation__item {
							width: 100%;
							padding-bottom: 0.5em;
							border-bottom: 1px solid rgba(var(--color-white--300), 1);

							a {
								display: block;
								width: 100%;
							}
						}

						.primary-navigation__search {
							order: -1;
							width: 100%;
							max-width: 100%;
							margin-right: 0;
							border: none;

							.search__button {
								display: none;
							}

							.search__form {
								visibility: visible !important;

								.search__text {
									width: 100%;
									height: 35px;
									padding: 0.2em 2.5em 0.2em 1em;
									border: none;
									// border-radius: 1px;

									background: white;
									color: rgba(var(--color-black), 1);

									font-size: 1em;

									&:focus {
										outline: rgba(var(--color-orange), 1) solid 2.25px;
									}
								}

								.search__submit {
									top: 9px;
									right: 10px;
									bottom: 10px;

									font-weight: 700;
									color: rgba(var(--color-black), 1) !important;
								}
							}
						}
					}
				}

				background-color: rgba(var(--color-black), 1);
			}

			.bag-navigation-wrapper {
				.bag-navigation {
					color: rgba(var(--color-white--300), 1);
				}
			}
		}
	}
}

@media (min-width: 600px) {
	.product-page {
		padding-top: 0;

		.product-page__product {
			flex-direction: row;
			gap: 1.5em;
			justify-content: space-between;

			.product__images-wrapper {
				flex-basis: 55%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			.product__right-section-wrapper {
				flex-basis: 45%;

				.product__right-section {
					height: calc(100vh - 50px);

					margin: auto 0;
					position: sticky;
					top: 50px;

					display: flex;
					flex-direction: column;
					justify-content: center;
				}
			}
		}
	}

	.shopping-bag-page {
		width: 85%;
	}

	.checkout-page {
		.checkout-form-wrapper {
			.checkout-form__form {
				.form__subsection {
					margin-bottom: 1.25em;
					.subsection__inputs {
						width: 100%;
						display: flex;
						gap: 1.5em;
						justify-content: space-between;

						.label-input-wrapper {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 780px) {
	.store {
		.store__products {
			gap: 1.75em;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.shopping-bag-page {
		width: 95%;

		flex-direction: row-reverse;
		gap: 4em;
		justify-content: flex-start;

		.to-checkout {
			flex-basis: 45%;
			margin: 0;

			height: calc(100vh - 50px - 2em);
			position: sticky;
			top: calc(50px + 2em);
		}

		.shopping-bag {
			flex-basis: 55%;
		}
	}
}

@media (min-width: 900px) {
	.product-page {
		.product-page__product {
			flex-direction: row;
			justify-content: space-between;

			.product__images-wrapper {
				flex-basis: 65%;
				position: static;
				overflow: none;

				.product__images-navigator {
					display: none;
				}

				.product__images {
					transform: translateX(0%) !important;

					display: flex;
					// flex-direction: column;
					flex-wrap: wrap;
					justify-content: center;

					.product__image-wrapper {
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: calc(100vh - 50px);

						.product__image {
							width: calc(100vh - 50px);
							max-width: 100%;
							height: 100vh;
							margin: 0 auto;
							object-fit: contain;
							padding-bottom: 2.5em;
						}
					}
				}

				.product__images-indicator {
					display: none;
				}
			}

			.product__right-section-wrapper {
				flex-basis: 35%;
			}
		}
	}

	.shopping-bag-page {
		gap: 5em;

		.section {
			font-size: 0.95em;
		}

		.to-checkout {
			flex-basis: 30%;
		}

		.shopping-bag {
			flex-basis: 70%;
		}
	}

	.checkout-page {
		width: 70%;
	}
}

@media (min-width: 1200px) {
	.product-page {
		.product-page__product {
			.product__left-section-wrapper {
				display: block;
				flex-basis: 25%;

				.product__left-section {
					height: calc(100vh - 50px);
					margin: auto 0;
					position: sticky;
					top: 50px;

					display: flex;
					flex-direction: column;
					justify-content: center;
				}
			}

			.product__images-wrapper {
				flex-basis: 50%;
			}

			.product__right-section-wrapper {
				flex-basis: 25%;

				.product__right-section {
					.product__name,
					.product__price,
					.product__description {
						display: none;
					}
				}
			}
		}
	}

	.checkout-page {
		width: 95%;
		flex-direction: row-reverse;
		gap: 6em;

		.order-summary {
			flex-basis: 40%;
			margin: 0;
			margin-top: calc(2em + 16px);

			height: calc(100vh - 50px - 2em);
			position: sticky;
			top: calc(50px + 2em);

			.accordion-header {
				cursor: auto;

				.btn-icon {
					display: none;
				}
			}

			.accordion-body {
				max-height: fit-content;
			}
		}

		.checkout-form-wrapper {
			flex-basis: 60%;
		}
	}
}
