{% extends 'store/base.html' %} {% load static %} {% block title %} Thank you | SURL {% endblock %} {% block main %}
<main class="message-page">
	<img class="message-page__image" src="{% static 'icons/clouds.svg' %}" alt="" />
	<h1 class="message-page__title">Sorry, the developer is still thinking about the design huhu</h1>
	<p class="message-page__text">
		Click <a href="http://127.0.0.1:8000/store/">here</a> to go to the store. It is currently the only page that is
		working.
	</p>
</main>

{% endblock %}
