{% extends 'store/base.html' %} {% load static %} {% block title %} Store | SURL {% endblock %} {% block main %}
<main class="store">
	<div class="store__header">
		<div class="store__categories">
			<span aria-selected="true" class="store__category">Albums</span>
			<span aria-selected="false" class="store__category">Merchandise</span>
		</div>
		<div class="store__sort-items">
			<label for="sort-type" class="sort-items__type">Sort by</label>
			<select name="sort-type" id="sort-items" class="sort-items__type">
				<option value="date">Date</option>
				<option value="price">Price</option>
				<option value="name">Name</option>
			</select>
			<span aria-selected="true" class="sort-items__order" data-value="descending">
				<img src="{% static 'icons/down.svg' %}" alt="" />
			</span>
			<span aria-selected="false" class="sort-items__order" data-value="ascending">
				<img src="{% static 'icons/up.svg' %}" alt="" />
			</span>
		</div>
	</div>
	<template id="template-store-product">
		<article id="store-product" class="store__product">
			<a href="" id="product-link" class="product__link">
				<h2 id="product-name" class="product__name">
					<div class="skeleton skeleton--text skeleton--text--md"></div>
				</h2>
				<div id="product-price" class="product__price">
					<div class="skeleton skeleton--text skeleton--text--sm"></div>
				</div>
				<div id="product-img-wrapper" class="product__img">
					<img id="product-img" class="skeleton skeleton--img" src="" alt="" />
				</div>
			</a>
		</article>
	</template>
	<section class="store__products"> </section>
</main>
{% endblock %} {% block script %}
<script>
	console.log('hello');
	(function () {
		setStoreCategories();
		setSkeletonLoading();
		updateAndTransferLocalBag();

		function setSkeletonLoading() {
			const storeProductsContainer = document.querySelector('.store__products');
			const storeProductTemplate = document.querySelector('#template-store-product');

			storeProductsContainer.innerHTML = '';

			for (let i = 0; i < 3; i++) {
				storeProductsContainer.append(storeProductTemplate.content.cloneNode(true));
			}
		}

		function setStoreCategories() {
			const storeCategories = Array.from(document.querySelector('.store__categories').children);

			let currentCategory = 'Album';
			if (sessionStorage.surlCurrentStoreCategory) {
				currentCategory = sessionStorage.surlCurrentStoreCategory;
				console.log(currentCategory);
			}

			window.addEventListener('load', (e) => {
				const event = new Event('click');
				if (currentCategory == 'Album') {
					storeCategories[0].dispatchEvent(event);
				} else {
					storeCategories[1].dispatchEvent(event);
				}
			});

			storeCategories[0].addEventListener('click', (e) => {
				if (e.target.getAttribute('aria-selected')) {
					e.target.setAttribute('aria-selected', true);
					storeCategories[1].setAttribute('aria-selected', false);
					currentCategory = sessionStorage.surlCurrentStoreCategory = 'Album';
					getStoreProducts(currentCategory);
				}
			});

			storeCategories[1].addEventListener('click', (e) => {
				if (e.target.getAttribute('aria-selected')) {
					e.target.setAttribute('aria-selected', true);
					storeCategories[0].setAttribute('aria-selected', false);
					currentCategory = sessionStorage.surlCurrentStoreCategory = 'Merchandise';
					getStoreProducts(currentCategory);
				}
			});

			const sortBy = document.querySelector('#sort-items');
			const sortIns = Array.from(document.querySelectorAll('.sort-items__order'));

			sortBy.addEventListener('click', (e) => {
				getStoreProducts(currentCategory);
			});

			sortIns[0].addEventListener('click', (e) => {
				if (sortIns[0].getAttribute('aria-selected')) {
					sortIns[0].setAttribute('aria-selected', true);
					sortIns[1].setAttribute('aria-selected', false);
					getStoreProducts(currentCategory);
				}
			});

			sortIns[1].addEventListener('click', (e) => {
				if (sortIns[1].getAttribute('aria-selected')) {
					sortIns[1].setAttribute('aria-selected', true);
					sortIns[0].setAttribute('aria-selected', false);
					getStoreProducts(currentCategory);
				}
			});
		}

		function getStoreProducts(currentCategory) {
			setSkeletonLoading();

			const url = `http://127.0.0.1:8000/api/store/${currentCategory}/`;
			fetch(url)
				.then((response) => {
					return response.json();
				})
				.then((response) => {
					setStoreContents(response);
					sessionStorage.setItem(`surl-store-${currentCategory}`, JSON.stringify(response));
				})
				.catch((err) => {
					console.log('error message: ', err);
				});
		}

		function sortContents(response, sortBy, sortIn) {
			const sortedResponse = JSON.parse(JSON.stringify(response));

			// using if instead of switch, not formatting properly huhu
			if (sortBy == 'date') {
				if (sortIn == 'descending') {
					sortedResponse.sort((a, b) => {
						return new Date(b.date_created) - new Date(a.date_created);
					});
				} else {
					sortedResponse.sort((a, b) => {
						return new Date(a.date_created) - new Date(b.date_created);
					});
				}
			} else if (sortBy == 'price') {
				if (sortIn == 'descending') {
					sortedResponse.sort((a, b) => {
						return parseInt(b.price) - parseInt(a.price);
					});
				} else {
					sortedResponse.sort((a, b) => {
						return parseInt(a.price) - parseInt(b.price);
					});
				}
			} else if (sortBy == 'name') {
				if (sortIn == 'descending') {
					sortedResponse.sort((a, b) => {
						return a.name.localeCompare(b.name);
					});
				} else {
					sortedResponse.sort((a, b) => {
						return b.name.localeCompare(a.name);
					});
				}
			}

			return sortedResponse;
		}

		function setStoreContents(response) {
			const sortByValue = document.querySelector('#sort-items').value;
			const sortInValue = document.querySelector('.sort-items__order[aria-selected="true"]').dataset.value;

			const products = sortContents(response, sortByValue, sortInValue);

			const storeProductsContainer = document.querySelector('.store__products');
			const storeProductTemplate = document.querySelector('#template-store-product');

			storeProductsContainer.innerHTML = '';
			storeProductsContainer.style.pointerEvents = 'unset';

			for (let i = 0; i < products.length; i++) {
				const product = storeProductTemplate.content.cloneNode(true);
				product.getElementById('product-link').href = `http://127.0.0.1:8000/store/product/${products[i].id}/`;
				product.getElementById('product-name').textContent = products[i].name;
				product.getElementById('product-price').textContent = '₱' + formatNumber(products[i].price);
				product.getElementById('product-img').src = products[i].images[0].image;

				if (!products[i].total_stocks) {
					product.getElementById('store-product').classList.add('store__product--sold-out');
				}

				storeProductsContainer.append(product);
			}
		}

		function formatNumber(x) {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		}

		function updateAndTransferLocalBag() {
			const url = 'http://127.0.0.1:8000/api/inventory/';

			fetch(url)
				.then((inventory) => {
					return inventory.json();
				})
				.then((inventory) => {
					const formattedInventory = getFormattedInventory(inventory);

					updateLocalBagItemsAvailability(formattedInventory);
					addItemsFromLocalBagToHeaderBag(formattedInventory);

					function updateLocalBagItemsAvailability(formattedInventory) {
						const localBag = JSON.parse(localStorage.getItem('surlShoppingBag'));

						for (const [key, value] of Object.entries(localBag)) {
							if (!formattedInventory[String([value.product_id, value.selectedSize])].stocks) {
								value.isIncluded = false;
							}
						}

						localStorage.surlShoppingBag = JSON.stringify(localBag);
					}

					function addItemsFromLocalBagToHeaderBag(formattedInventory) {
						const localBag = JSON.parse(localStorage.getItem('surlShoppingBag'));

						const headerBagNotification = document.querySelector('.bag-navigation-notif');
						const bagName = document.querySelector('#header-bag-name');

						const headerBagContainer = document.querySelector('.bag-navigation__added-items-wrapper');
						const headerBag = document.querySelector('.bag-navigation__added-items');

						const totalIncludedItems = getTotalIncludedItems();

						if (!totalIncludedItems) {
							headerBagContainer.style.display = 'none';
							headerBagNotification.style.display = 'none';
							return;
						}

						headerBagContainer.style.display = 'block';
						headerBag.innerHTML = '';

						headerBagNotification.style.display = 'flex';
						headerBagNotification.innerText = totalIncludedItems;
						bagName.innerText = `Bag (${totalIncludedItems})`;

						let numOfIncluded = 0;
						for (const key in localBag) {
							if (numOfIncluded == 5) {
								const list = document.createElement('li');
								list.classList.add('more-items');

								list.innerHTML = `+ ${totalIncludedItems - 5} more item(s)`;
								headerBag.append(list);
								break;
							}

							if (!localBag[key].isIncluded) {
								continue;
							}

							let size = '';

							if (localBag[key].selectedSize != 'N/A') {
								size =
									'- ' +
									localBag[key].selectedSize[0].toUpperCase() +
									localBag[key].selectedSize.slice(1).toLowerCase();
							}

							const productIDSize = String([localBag[key].product_id, localBag[key].selectedSize]);
							const list = document.createElement('li');

							list.classList.add('bag-navigation__added-item');
							list.innerHTML = `
								<a href="http://127.0.0.1:8000/store/product/${localBag[key].product_id}/" class="added-item__link">
									<img src="${formattedInventory[productIDSize].thumbnail}" alt="" class="added-item__img" />
									<span class="added-item__name">${formattedInventory[productIDSize].product_name} ${size}</span>
								</a>
							`;
							headerBag.append(list);
							numOfIncluded = numOfIncluded + 1;
						}
					}

					function getTotalIncludedItems() {
						const localBag = JSON.parse(localStorage.getItem('surlShoppingBag'));

						let totalIncludedItems = 0;
						for (const [key, value] of Object.entries(localBag)) {
							if (value.isIncluded) {
								totalIncludedItems = totalIncludedItems + 1;
							}
						}
						return totalIncludedItems;
					}

					function getFormattedInventory(inventory) {
						let formattedInventory = {};
						console.log(inventory);
						for (const [key, value] of Object.entries(inventory)) {
							formattedInventory[String([value.product_id, value.size])] = {
								product_name: value.product,
								price: value.price,
								size: value.size,
								stocks: value.stocks,
								thumbnail: value.images.image,
							};
						}

						return formattedInventory;
					}
				});
		}
	})();
</script>
{% endblock %}
